body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  align-items: center;
  background-color: #121212;
}

.todo-container {
  background: #ffff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

h2 {
  text-align: center;
}

.input-container {
  display: flex;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container button {
  padding: 10px;
  background-color: #ff6b6b;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.task-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.task-list li input[type="checkbox"] {
  margin-right: 10px;
  border-radius: ;
}

.task-list li .delete-task {
  background: none;
  border: none;
  color: #ff6b6b;
  font-size: 18px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #aaa;
}
